@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    color: #f8f8f8;
    background: #131318;
}

body input,
body textarea {
    color: black;
}

a {
    color: #2d7bd4;
}

a:hover {
    border-bottom: 1px solid;
}

p {
    margin: 8px 0;
}

code {
    color: #ffa500;
}

li {
    padding: 4px;
}

ul,
ol {
    @apply ml-6 list-outside space-y-2;
}
ul {
    @apply list-disc;
}
ol {
    @apply list-decimal;
}

.scroll {
    width: 60px;
    height: 60px;
    border: 2px solid #4e2a84;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #4e2a84;
        border-bottom: 2px solid #4e2a84;
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}
